.container {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow-y: auto;
}

.container h3 {
	/* text-shadow: 7px 5px 6px blue; */
	font-size: 1.5em;
	line-height: 3em;
	height: 3em;
	text-align: center;
}

.echart {
	width: 90%;
	margin: 0 auto;
}

#assessment,
.risk {
	height: 15em;
	padding-left: 0.5em;
	box-sizing: border-box;
	box-shadow: #999 0px 0px 8px;
	border-radius: 8px;
	background: #fff;
}

.risk {
	display: flex;
}

.risk div {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding-right: 0.5em;
	justify-content: center;
}

.risk_2 {
	padding: 0.5em 0;
	box-sizing: border-box;
}

.risk_2 p {
	width: 4.5em;
	height: 4.5em;
	border-radius: 10px;
	font-size: 14px;
	display: flex;
	text-align: center;
	background: #f0f;
	flex-direction: column;
	justify-content: center;
	margin-right: 0.5em;
	box-shadow: #999 0px 0px 8px;
}

.risk_2>div {
	flex: 0;
	flex-direction: initial;
	justify-content: center;
}

.risk_2 ul {
	font-size: 12px;
	text-indent: 2em;
	line-height: 14px;
	margin-top: 1em;
}

.explain ul li{
	text-indent: 2em;
	line-height: 1.5em;
}
.explain ul li ul li{
	text-indent: 4em;
}