.container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.container h3 {
	text-shadow: 7px 5px 6px #aaa;
	font-weight: normal;
	font-size: 1.5em;
	line-height: 3em;
	height: 3em;
	color: blue;
	text-align: center;
}

.echart {
	width: 90%;
	margin: 0 auto;
}

#assessment,
.risk {
	height: 15em;
	padding-left: 0.5em;
	box-sizing: border-box;
	box-shadow: #999 0px 0px 8px;
	border-radius: 8px;
	background: #fff;
}

.risk {
	display: flex;
}

.risk>div {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.risk_2 {
	padding-left: 0.5em;
}

.risk_2 p {
	width: 4.5em;
	height: 4.5em;
	border-radius: 10px;
	font-size: 12px;
	display: flex;
	text-align: center;
	background: #f0f;
	flex-direction: column;
	justify-content: center;
	margin-right: 0.5em;
	box-shadow: #999 0px 0px 8px;
}

.risk_2>div {
	display: flex;
	justify-content: center;
}

.risk_2 ul {
	font-size: 12px;
	text-indent: 2em;
	line-height: 18px;
	margin-top: 1em;
	color: #999;
}

.explain ul li{
	text-indent: 2em;
	line-height: 1.8em;
	font-size: 12px;
}
.explain ul li ul li{
	text-indent: 4em;
}